<div *ngIf="pokemon" class="container-fluid mt-1">
  <a routerLink="/pokeapi">Retour à la liste</a>

  <div class="row align-items-center mt-4">
    <div class="col-4">
      <img class="w-100" [src]="getPokemonImage(pokemon.id)" />
    </div>
    <div class="col">
      <h1 class="my-4">{{ pokemon.name }}</h1>
      <div>
        <ul class="d-flex flex-row gap-4 p-0">
          <li *ngFor="let type of pokemon.types" class="d-flex flex-column align-items-center gap-1">
            <img class="type-image" [src]="getPokemonTypeImage(type.type.name)"> {{ type.type.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="pokemon" class="position-fixed bottom-0 w-100 d-flex justify-content-between">
  <button class="btn btn-primary m-3" [disabled]="pokemon.id <= 1" routerLink="../{{ pokemon.id - 1 }}">Précédent</button>
  <button class="btn btn-primary m-3" [disabled]="pokemon.id >= 898" routerLink="../{{ pokemon.id + 1 }}">Suivant</button>
</div>
