:host {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
}

.pokemon-item {
  transition: background-color 300ms ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.gender-male {
    background-color: blue;
    color: white;

    &:hover {
      background-color: #3232ef;
    }
  }

  &.gender-female {
    background-color: pink;

    &:hover {
      background-color: #fcd0d8;
    }
  }
}

