<div class="row">
  <div class="col">
    <input class="form-control" type="text" [(ngModel)]="newPokemonName" />
  </div>
  <div class="col-2">
    <button (click)="onAddPokemonBtnClick()" class="btn btn-primary">
      ajouter
    </button>
  </div>
</div>

<h2 class="my-4">{{ newPokemonName }}</h2>

<div *ngFor="let pokemon of pokemons; let pokemonIndex = index">
  <app-my-pokemon
    [name]="pokemon.name"
    [gender]="pokemon.gender"
    (delete)="onPokemonDelete(pokemonIndex)"
  />
</div>

<div
  *ngIf="notificationsService.currentNotification"
  class="notification my-4 p-3 text-light bg-{{
    notificationsService.currentNotification.type
  }}"
>
  {{ notificationsService.currentNotification.message }}
</div>
