<div *ngIf="pokemon" class="container-fluid mt-4">
  <a routerLink="/mypokemons">Retour à la liste</a>

  <h1 class="my-4">{{ pokemon.name }} - {{ pokemon.gender }}</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let navigationItem of navigation">
      <a
        class="nav-link"
        [routerLink]="navigationItem.routerLink"
        routerLinkActive="active"
        >{{ navigationItem.title }}</a
      >
    </li>
  </ul>

  <div class="p-4">
    <router-outlet></router-outlet>
  </div>

  <button
    [disabled]="!nextPokemonId"
    class="btn btn-primary btn-next"
    routerLink="../{{ nextPokemonId }}"
  >
    Suivant
  </button>
</div>
