.pokemon-item {
  border-bottom: 1px solid black;

  &:hover {
    cursor: pointer;
    background-color: lighten(lightblue, 10%);
  }

}

.type {

  &.type-grass {
    color: green;
  }

  &.type-fire {
    color: orange;
  }

  &.type-water {
    color: blue;
  }


}
