<header>
  <nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pokedex</a>
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/mypokemons" routerLinkActive="active">Mes pokémons</a>
          <a class="nav-link" routerLink="/pokeapi" routerLinkActive="active">Pokémons de l'API</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<app-notifications />

<!-- <app-mouse-pokemon /> -->
