<header>
  <nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Pokedex</a>
      <div class="navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            *ngFor="let navigationItem of navigation"
            class="nav-link"
            routerLink="{{ navigationItem.routerLink }}"
            routerLinkActive="active"
            >{{ navigationItem.title }}</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<app-notifications />

<!-- <app-mouse-pokemon /> -->
